<!DOCTYPE html>
<html lang="en">
   <head>
     <meta charset="utf-8">
     <title>DNS LOOKUP</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </head>
   <body>
    <nav class="navbar navbar-expand-lg navbar-info bg-dark">
    <a class="navbar-brand" href="{{ url_for('home')}}">DNS LOOKUP</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('ip')}}">IP LOOKUP <span class="sr-only">(current)</span></a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('name')}}">NAME LOOKUP</a>
         </li>
      </ul>
    </div>
   </nav>
   <div class="container-fluid pt-3 bg-info">
   <div class="row">
   
    <div class="col-lg-6">	   
      <div class="jumbotron">
         <h1 class="display-6">DNS LOOKUP CHECK</h1>
            <p class="lead">This lookup test can be used for forward as well as reverse lookup</p>
             <hr class="my-4">
               <p><strong>Note:</strong>Enter Comma (,) separated IP,Full FQDN for checking Name resolution.</p>
       </div>
    </div>
      <div class="col-lg-6">
         <img src="static/dns.jpg" class="img-fluid rounded">
      </div>
   </div> 
   </div> 


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    {% block content %}
    {% endblock %}
   </body>
  </html>
