{% extends "home.html" %}
{% block content %}
<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>	
  <div class="form-group">

	  <label for="exampleFormControlTextarea1"><b>HOST NAME</b></label>
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">FQDN</span>
      </div>
      <input type="text" class="form-control" aria-label="FQDN" aria-describedby="inputGroup-sizing-sm" placeholder="Enter Hostname Here" name="hostname">
    </div>


   </div>
       <button type="submit" class="btn btn-primary">Submit</button>
   </div>
</form>

{% endblock %}
