{% extends "home.html" %}
{% block content %}

<form method="POST" enctype="multipart/form-data" >
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>	
  
   <div class="input-group mb-3">
    <label for="exampleFormControlFile1" class="text-primary">Upload File Containing Hostname List</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file">
    <div class="input-group-append"> 
    <input type="submit" class="btn btn-primary" value="UPLOAD">
    </div>
  </div>

</form>

{% endblock %}


